body{
    background-image: url('roglogo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.termeklink{
    color: white;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    padding: 25px;
}
.jogviszony{
    color: white;
    font-size: x-small;
    text-align: end;
}