h1{
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
}
body{
    background-color: black;
}
.termeklink{
        color: white;
    text-decoration: none;
}
p{
    text-align: center;
    font-size: larger;
}
img{
    width: 10%;
    height: auto;
}